# Default ignored files
/../../Znaki - Zadanie1 /.idea/shelf/
/../../Znaki - Zadanie1 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Znaki - Zadanie1 /.idea/httpRequests/
# Datasource local storage ignored files
/../../Znaki - Zadanie1 /.idea/dataSources/
/../../Znaki - Zadanie1 /.idea/dataSources.local.xml
